@font-face {
 font-family:"Dusha V5";
 scr: url("../fonts/10622.eot");
 scr: url("../fonts/10622.eot?#ietfix")format("embedded-opentype");
 url("../fonts/10622.ttf") format("truetype");
 font-style:normal;
 font-weight:normal;
}