body {
	font-family: Microsoft PhagsPa;
	padding:0;
	margin:0;

}

header {
	background: url(../img/cover.jpg) no-repeat center top / cover;
    padding-bottom: 50px;	
}

section{
	background: url(../img/cover.jpg) no-repeat center top / cover;
	height: 900px;
	margin:8px 0px 0px 0px;

}

.container{
	width: 1200px;
	margin: 0 auto;

}

.logo{
	float: left;
	margin-top: 20px; margin-right: 40px;
}
 nav{
 	float: right;
 	margin-top: 20px;
 margin-left: 30px;}

 .menu{
 	padding: 0;
 	margin: 0;
 	display: block;
 }

 .menu li{
 	float: left;
 	display: block;
 	margin-right: 41px;
 }
 .menu li a{
 	color: #fff;
 	text-decoration: none;
 	text-transform: uppercase;
 	font-size: 20px; 
 }
 
.titles_first, h2,h4{
 font-family: 'Roboto', sans-serif;	font-size: 30px;
  text-shadow: 1px 1px 2px black;	color: #fff;
 	text-transform: uppercase;
 	margin-top: 35px;
 	
 	 
 }

 
h1{
 font-family: 'Permanent Marker', cursive;	font-size: 20px;
 	color: #fff;
 	padding-top:4px;
 }


 .title {
 padding-top: 30px;
 }
 .title h2 {
 	font-size: 34px;
 	color: #fff;
 	text-transform: uppercase;
 	text-align: center;
    
 }
 .title h3{
 	text-align: center;
 	
 }

 .player {
 	float: right;
	margin-top: 4px;

 }

 .title h4{
 	font-size: 34px;
 	color: #fff;
 	text-transform: uppercase;
 	text-align: center;
 	margin: 40px;
 }

 .title h5{
 	text-align: center;
    margin-top: 0;
 }


h3 {  font-size: 0px; }